/* GENERAL */

.container {
  width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

header img {
  width: 110px;
}

.search-bar {
  height: 35px;
  width: 500px;
  border: none;
  background-color: rgb(255, 249, 249);
  padding-left: 10px;
}

.sign-up {
  display: flex;
  gap: 20px;
}

header button {
  background-color: white;
  border: 0.1px solid #1d696f;
  color: #1d696f;
  border-radius: 3px;
  padding: 5px 20px;
}

.vint {
  background-color: #1d696f;
  color: white;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.search input {
  border: none;
  background-color: rgb(255, 249, 249);
}

.price-order {
  border: none;
}

/* HOME */

.hero {
  position: relative;
  margin-bottom: 30px;
}

.hero img {
  height: 560px;
  width: 100vw;
  object-fit: cover;
}

.hero-block {
  background-color: white;
  height: 300px;
  width: 380px;
  position: absolute;
  left: 130px;
  top: 130px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

h1 {
  font-size: 35px;
}

.hero-block button {
  color: white;
  background-color: #1d696f;
  width: fit-content;
  padding: 10px;
}

.list-offers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.offer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.offer img {
  height: 360px;
  width: 240px;
  object-fit: cover;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar p,
.offer p {
  color: rgb(169, 165, 165);
}

/* OFFER */

.product {
  background-color: #eaedee;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  height: 100vh;
}

.product > img {
  height: 600px;
  width: 500px;
  object-fit: cover;
}

.offer-description {
  background-color: #ffffff;
  height: 600px;
  width: 500px;
  padding: 30px;
}

.offer-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.offer-detail {
  display: flex;
}
.key,
.value {
  flex: 1;
}

.key {
  color: #a4a8a9;
  margin-bottom: 10px;
}

.trait {
  margin: 70px 0px;
  border: 0.1px solid rgb(222, 216, 216);
}

.title > :nth-child(1) {
  font-size: 20px;
  font-weight: bold;
}

.title > :nth-child(2) {
  color: rgb(176, 170, 170);
}

.title > p {
  margin: 10px 0px;
}

/* SIGNUP */
/* LOGIN */
form {
  width: 220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.input-underline {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fcced2;
  padding-bottom: 5px;
  margin-top: 20px;
}

form h2 {
  margin: 30px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
}

form button,
.button-pay button {
  border: none;
  margin-top: 30px;
  color: white;
  background-color: #2db0ba;
  padding: 10px;
  border-radius: 5px;
}

.button-pay {
  display: flex;
  justify-content: flex-end;
}

/* SIGNUP */
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.checkbox > input {
  margin-right: 10px;
}

.texte {
  font-size: 11px;
}

.compte {
  font-size: 12px;
  text-align: center;
  color: #2db0ba;
}

/* LOGIN */
.connect {
  margin-top: 15px;
}

/* PUBLISH */

h3 {
  font-size: 20px;
}

.publish {
  padding-top: 20px;
  background-color: #eaedee;
  height: max-content;
}
.part-publish {
  background-color: white;
  margin: 20px 0px;
}

.trait-publish {
  border: 0.1px solid #eaedee;
}

.submit-publish {
  /* width: fit-content; */
  display: flex;
  justify-content: flex-end;
}

.publish section > div {
  display: flex;
  padding: 20px;
}

.publish section > div > label {
  /* width: calc(100% / 2); */
  width: 50%;
}

.info-publish {
  margin-left: 15px;
}

.checkbox-publish {
  display: flex;
  align-items: center;
}

.publish input {
  border: none;
  border-bottom: 0.1px solid #eaedee;
  /* flex: auto; */
  /* width: calc(100% / 2); */
}

textarea {
  border: none;
  border-bottom: 0.1px solid #eaedee;
  resize: none;
}

.input-publish {
  /* width: calc(100% / 2); */
  width: 50%;
}

.input-file {
  display: none;
}

.publish-photo {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: dotted 0.1px #eaedee;
}

.publish-photo > div {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #2db0ba;
  background-color: white;
  color: #2db0ba;
  font-size: 30pxpx;
  font-weight: bold;
}

.publish-photo label {
}

/* PAYMENT */

.payment {
  background-color: #eaedee;
  height: 100vh;
  padding-top: 10px;
}

.form-payment {
  margin: 20px auto;
  height: 500px;
  width: 600px;
  background-color: white;
}
